/* I used Typical Device Breakpoints (mentioned in w3 School) */
/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

/* --------------------------------------------- */
/* A. Extra small devices (phones, 600px and down) */
/* --------------------------------------------- */

@media only screen and (max-width: 600px) {
  .box {
    margin-bottom: 0;
  }
}

/* ------------------------------------------------------------- */
/* B. Small devices (portrait tablets and large phones, 600px and up) */
/* ------------------------------------------------------------- */

@media only screen and (min-width: 600px) {
  .intro-image {
    width: 400px;
  }
  .service-sec-img {
    width: 100px;
  }
}

/* ---------------------------------------------------- */
/* C. Medium devices (landscape tablets, 768px and up) */
/* ---------------------------------------------------- */

@media only screen and (min-width: 768px) {
  .intro h1 {
    font-size: 40px;
  }

  .intro h2 {
    font-size: 30px;
  }

  /* Portfolio Section */

  .feature {
    width: 40%;
  }

  .skills > div > i {
    padding-right: 30px;
  }
}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* D. Large devices (laptops/desktops, 992px and up) */
/* -------------------------------------------- */
/* -------------------------------------------- */

@media only screen and (min-width: 992px) {
  .intro-image {
    width: 500px;
  }

  .container {
    margin: 0 auto;
  }

  /* Home Page  */

  .header > div {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header > div > div {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-bottom: 0;
  }

  .menu {
    display: none;
  }

  nav {
    flex-direction: row;
    display: flex !important;
  }

  nav a {
    margin-top: 0;
    margin-left: 8px;
  }

  .intro-grid {
    display: grid;
    grid-template-columns: repeat(0, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
  }

  .intro {
    grid-area: 1 / 1 / 2 / 2;
  }

  .intro-image {
    grid-area: 1 / 2 / 2 / 3;
    padding: 16px;
    text-align: center;
    margin-top: 60px;
  }

  /* SERVICES Section Here */

  .services-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .service {
    padding: 9px;
    margin-right: 6px;
    margin-bottom: 16px;
    width: 30%;
    transition: all 0.3s ease;
  }

  .service:hover {
    background-color: #c8d8e4;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  .service img {
    width: 70%;
  }
}

/* -------------------------------------------------------------- */
/* E. Extra large devices (large laptops and desktops, 1200px and up) */
/* -------------------------------------------------------------- */

@media only screen and (min-width: 1200px) {
  .intro h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: #2b6777;
    margin: 32px 0 0 0;
  }

  .intro h2 {
    font-size: 36px;
    color: #8684a1;
  }

  /* Portfolio */
  .feature {
    width: 19.99%;
  }
}
